﻿@model List<Cliente>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<div class="card">
    <div class="card-header">
        Lista de Clientes
    </div>
    <div class="card-body">

        <a asp-action="Cliente" asp-controller="Home" asp-route-identificacion="0" class="btn btn-success btn-sm">Nuevo Cliente</a>
        @*<a asp-action="test" asp-controller="Home" class="btn btn-success">test</a>*@
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Primer Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Edad</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Identificacion</td>
                        <td>@item.PrimerNombre</td>
                        <td>@item.PrimerApellido</td>
                        <td>@item.Edad</td>
                        <td>@item.FechaCreacion</td>
                        <td>
                            <a asp-action="Cliente" asp-controller="Home" asp-route-identificacion="@item.Identificacion" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Home" asp-route-identificacion="@item.Identificacion" class="btn btn-danger btn-sm">Eliminar</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>